a {
    color: #EE2B29;
}

.collection .collection-items{
    background-color:#fff;
    line-height:1.5rem;
    padding:10px 20px;
    margin:0;
    border-bottom:1px solid #e0e0e0;
}

.collection .collection-items:hover{
    background-color:#EE2B29;
    line-height:1.5rem;
    padding:10px 20px;
    margin:0;
    border-bottom:1px solid #e0e0e0;
    color: white;
}

.collection .collection-items:hover a{
    display: block;

}


[type="checkbox"].filled-in:checked + span:not(.lever):after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid #EE2B29;
    background-color: #EE2B29;
    z-index: 0;

}

.collection .collection-item-clicked{
    background-color:#EE2B29;
    line-height:1.5rem;
    padding:10px 20px;
    margin:0;
    border-bottom:1px solid #e0e0e0;
    color: white;

}

#mesgs div{
    padding:1%;
    border: 1px solid #EE2B29;
    margin:1%;
    border-radius: 10px;
}
